body {
    font-family: "Open Sans";
    font-size: 14px;
    background-color: rgb(196, 205, 230);
    
  }
  form{
      background-image:url(../image/R.jpg);
    width:750px;
    height:427px;
    border-radius:8px;
    max-width:calc(100vw - 50px);
    margin:calc(50vh - 300px) auto; 
    box-shadow:0 0 40px -10px #000;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
    padding: 50px 40px;
    color: rgb(214, 216, 216);
    border-radius: 4px;
    align-items: center;
  }
  td{
    box-shadow:0 0 40px -10px #000;
    box-sizing:border-box;
    position:relative;
    padding: 50px 60px;
    background:0;
   padding-bottom: 70px;
   padding-top: 40px;
  }
  button{float:right;
    padding:10px 20px;margin:1px 1px 1px 1px;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:#cbcbee;color:#5a5a6e;cursor:pointer;
    transition:all .3s}
 span{position:absolute;bottom:-15px;
        right:-20px;background:#737388;
        color:#fff;width:150px;
        padding:6px 5px 6px 0;
        border-radius:6px;font-size:13px;
        box-shadow:10px 10px 40px -14px #000;
        margin:0 5px 0 5px}  
a{ color: rgb(36, 36, 36);} 
h1{margin:10px 0;
  padding-bottom:10px;
  width:300px;
  color:#313a38;
  border-bottom:3px solid #78788c;
  position:center;
}
   